<% provide(:title, "House Coffeeとは？") %>
<aside id="fh5co-hero" class="js-fullheight" style="height:697px;">
  <div class="flexslider js-fullheight" style="height:697px;">
    <ul class="slides">
      <div class="overlay"></div>
      <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text animated fadeInUp" style="height:697px;">
          <div class="slider-text-inner">
            <h1>House Coffeeとは？</h1>
            <br>
            <h4>毎日飲むお気に入りのコーヒーレシピをシェアできるサービスです。</h4>
            <br>
            <h3>＊ 使い方 ＊</h3>
            <br>
            <p>　　いつも作っているコーヒーのレシピをシェアしてみましょう！</p>
            <p>　　リモートワークが進み、家で飲むことが多くなったコーヒー。</p>
            <p>　　本格的なドリップコーヒーの淹れ方、話題のコーヒーをシェアしたり、</p>
            <p>　　みんなのオリジナルコーヒーを家で試してみよう！</p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</aside>
