<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>みんなのコーヒー (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "新しいコーヒーをシェアする", new_drink_path, class: "btn btn-primary btn-lg btn-record" %></p>
      </div>
    </div>
  </div>
<% else %>
  <center>
    <h1>Welcome to House Coffee！</h1>
    <h2>お気に入りのコーヒーをシェアしよう！</h2>
    <p>あなたの家で特別のコーヒーを。</p>
  </center>
<% end %>
