<% provide(:title, "利用規約") %>
<aside id="fh5co-hero" class="js-fullheight" style="height:697px;">
  <div class="flexslider js-fullheight" style="height:697px;">
    <ul class="slides">
    <div class="overlay"></div>
    <div class="container">
      <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text animated fadeInUp" style="height:697px;">
        <div class="slider-text-inner">
          <h1>利用規約</h1>
        </div>
      </div>
    </ul>
  </div>
</aside>