<div id="fh5co-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>　お気に入り (<%= @favorites.count %>)</h3>
      </div>
    </div>
    <% if @favorites.present? %>
      <ol class="favorites">
        <%= render @favorites %>
      </ol>
    <% end %>
  </div>
</div>
