<%= f.fields_for :items do |i| %>
  <div class="row">
    <div class="col-md-9">
      <div class = 'form-group'>
        <%= i.text_field :name, class: 'form-control item_name' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class = 'form-group'>
        <%= i.text_field :remarks, class: 'form-control item_remarks' %>
      </div>
    </div>
  </div>
<% end %>
