<div id="favorite-<%= @drink.id %>">
  <% if !current_user.nil? && current_user.favorite?(@drink) %>
    <%= render 'users/unfavorite' %>
  <% else %>
    <%= render 'users/favorite' %>
  <% end %>
</div>
