<%= link_to "/favorites/#{@drink.id}/destroy",
            method: :delete,
            class: 'unlike',
            remote: true do %>
  <div class="like-btn-unlike"><i class="fa fa-heart"></i> お気に入りに登録済み</div>
<% end %>
