@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// 全ページ共通
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// テキストの見栄え
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// ヘッダー
.navbar ul{
  margin-top: 12px;
  margin-bottom: 12px;
}
 #logo {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 70%;
  }
}

// フッター
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  small {
    float: center;
  }
}

//ユーザー登録
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
 }
  #session_remember_me {
  width: auto;
  margin-left: 0;
 }

 //// プロフィールページ ////
.title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

//// ユーザー一覧ページ ////
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
 }

.drinks {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
 }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.btn-record {
  margin-top: 3em;
}

.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}

.drink-user-name {
  display: inline-block;
}

h2.drink-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.drink-reference {
  margin-top: 30px;
}

.drink-portion {
  margin-top: 30px;
}

.tips {
  margin-top: 30px;
  margin-bottom: 30px;
  h5 {
    font-size: 17px;
  }
}

.title-tips {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.show-drink-other-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.drink-other-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.drink-info {
  h5 {
    font-size: 16px;
    display: inline-block;
  }
  h4 {
    font-size: 20px;
    display: inline-block;
  }
}

.change-drink {
  display: inline-block;
}

.edit-drink .delete-drink {
  font-size: 15px;
}