<header class="navbar navbar-fixed-top">
 <div class="container">
   <%= link_to(image_tag("house_coffee.png", :alt => ""), root_url, id: 'logo') %>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to 'House Coffeeとは？', about_path %></li>
       <li><%= link_to 'ユーザー登録(無料)', signup_path %></li>
     </ul>
   </nav>
 </div>
</header>