<div class="row">
  <%= search_form_for @q do |f| %>
    <div class="col-md-10">
      <div class='form-group'>
        <%= f.search_field :name_or_items_name_cont, placeholder: "コーヒー名、必要なモノで検索", class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class='form-group'>
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
